h1{
    color: blue;
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
}

body{

}

#wrapper{
    width: 1000px;
    height: auto;
    margin: auto;
}

#header{
    background: #eeeeee;
    width: 100%;
    height: 100px;
}
#header img{
    float: left;
    padding: 5px 0;
}

#description{
    background: #eeeeee;
    width: 100%;
    height: auto;
    padding: 10px 0;
    overflow-x:hidden;
    word-wrap:break-word;
    padding: 10px;
}

#content{
    table-layout: auto;
    width: 80%;
    height: auto;
    margin: 0 10% 1% 10%;
}

#sidebar{
    width: 200px;
    height: 670px;
    float: right;
    margin-top: 20px;
}
    #sidebarTop{
        background: white;
        width: 200px;
        height: 320px;
        overflow-x:hidden;
        word-wrap:break-word;
    }

    #sidebarBottom{
        margin-top: 20px;
        background: white;
        width: 200px;
        height: 320px;
        overflow-x:hidden;
        word-wrap:break-word;
    }

#main{
    background: white;
    width: calc(100% - 220px);
    float: left;
    margin: 20px 0;
}
    #inputFields{
        width: auto;
        background: white;
        padding: 5px;
    }

    #output{
        width: auto;
        margin-top: 20px;
    }


#footer{
    background: #eeeeee;
    width: 80%;
    margin: 20px 10% 0 10%;
    padding-top: 20px;
    height: 50px;
    clear: both;
}

@media screen and (max-width: 700px) {
    #content, #leftSidebar, #rightSidebar {
        float: none;
        width: 100%;
        margin: 0;
    }
}

table{
    margin: auto; /* Выравниваем таблицу по центру окна  */
}
td {
    text-align: center; /* Выравниваем текст по центру ячейки */
}

.fieldset {
border: 1px solid #ccc;
padding: 10px;
}
