h1{
    color: blue;
    font-size: 32px;
    font-style: italic;
    font-weight: normal;
}

body, html {
    background-color: white;
    color: #2C2C2C;
    font: normal 100% Cambria, Georgia, serif;
}

.chartContainer {
    width: 800px;
    height: 600px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



#header {

}

#left-column {

}

#center-column {

}
#right-column {

}

#footer {

}